.home-video {
  position: relative;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 90%;
  height: 100%;

  .btn {
    position: absolute;
    bottom: 0;
    right: 0;
    background: transparent;
    color: white;
    border: none;
    font-family: Square721BT;
  }
}
