.swiper-container {
  display: flex;
  margin-bottom: 1rem;
  transition: width 1.9s ease-in-out, margin-left 1.9s ease-in-out;
  .swiper {
    width: 100%;
    height: 100%;
    .swiper-wrapper {
      align-items: center;
      .swiper-slide {
        width: auto;
        @media screen and (max-width: 600px) {
          width: 100%;
        }
        transition: all 1s ease-out;
        img {
          display: block;
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}
